:root {
    --dark: #222;
    --light: #f3f3f3;
    --gold: #ffd700;
    --success-color: #2ecc71;
    --error-color: #e74c3c;
  }

body {
    background-color: black;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}
#container {
    height: 80vh;
}

#morseCode {
    color: white;
    position: absolute;
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 45px;
    padding: 25% 0;
}

/* FORM CSS */
.containerTwo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    margin: 0;
  
  }
  h2 {
    text-align: center;
    margin: 0 0 20px;
  }
  .form {
    
    position: absolute;
  }
  
  .form-control {
    position: relative;
  }
  
  .form-control label {
    display: block;
  }
  
  .form-control input {
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  
  .form-control input:focus {
    outline: 0;
    border-color: #777;
  }
  
  .form-control.success input {
    border-color: var(--success-color);
    background-color: var(--success-color);
    /* border-width: large; */
  }
  
  .form-control.error input {
    border-color: var(--error-color);
    background-color: var(--error-color);
  }
  
  .form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: -18px;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }
  
  .form button {
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px white;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  .link-btn {
    position: absolute;
    left:30vw;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px white;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin: auto;
    width: 50%;
    visibility: hidden;
    
  }
  .link-btn a {
      text-decoration: none;
      color: black;
  }