:root {
    --dark: #222;
    --light: #f3f3f3;
    --gold: #ffd700;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.body {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.text7011 {
 opacity: 0;
}
.text7011Black {
     /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
}

.bodyBlack {
    width: 100%;
    height: 100vh;
    background-color: black;
}

#huntTheWitchText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 20px;
    
}

#huntTheWitchText path:nth-child(1){
    stroke-dasharray: 492px;
    stroke-dashoffset: 492px;
    animation: line-anim 2s ease forwards;
}
#huntTheWitchText path:nth-child(2){
    stroke-dasharray: 425px;
    stroke-dashoffset: 425px;
    animation: line-anim 2s ease forwards 1s;
}
#huntTheWitchText path:nth-child(3){
    stroke-dasharray: 513px;
    stroke-dashoffset: 513px;
    animation: line-anim 2s ease forwards 1.5s;
}
#huntTheWitchText path:nth-child(4){
    stroke-dasharray: 314px;
    stroke-dashoffset: 314px;
    animation: line-anim 2s ease forwards 2s;
}
#huntTheWitchText path:nth-child(5){
    stroke-dasharray: 314px;
    stroke-dashoffset: 314px;
    animation: line-anim 2s ease forwards 2.5s;
}
#huntTheWitchText path:nth-child(6){
    stroke-dasharray: 492px;
    stroke-dashoffset: 492px;
    animation: line-anim 2s ease forwards 3s;
}
#huntTheWitchText path:nth-child(7){
    stroke-dasharray: 401px;
    stroke-dashoffset: 401px;
    animation: line-anim 2s ease forwards 3.5s;
}
#huntTheWitchText path:nth-child(8){
    stroke-dasharray: 633px;
    stroke-dashoffset: 633px;
    animation: line-anim 2s ease forwards 4s;
}
#huntTheWitchText path:nth-child(9){
    stroke-dasharray: 206px;
    stroke-dashoffset: 206px;
    animation: line-anim 2s ease forwards 4.5s;
}
#huntTheWitchText path:nth-child(10){
    stroke-dasharray: 314px;
    stroke-dashoffset: 314px;
    animation: line-anim 2s ease forwards 5s;
}
#huntTheWitchText path:nth-child(11){
    stroke-dasharray: 471px;
    stroke-dashoffset: 471px;
    animation: line-anim 2s ease forwards 5.5s;
}
#huntTheWitchText path:nth-child(12){
    stroke-dasharray: 492px;
    stroke-dashoffset: 492px;
    animation: line-anim 2s ease forwards 6s;
}


@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}


/* CARD CSS */

.card {
        /* Set rules to fill background */
  min-height: 50%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 10%;
  left: 30%;
  transform: translateX(50%) translateY(50%) ;
width: 288.5px;
    height: 500px;
    perspective: 1000px;
  }
  
  .card__inner {
    width: auto;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    /* background-image: url(./img/STRENGTH.png); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--back {
    /* background-image: url(./img/tHE_HERMIT.png); */
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }

  .card__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    font-variant: small-caps;
  }
  .card__text--about {
    padding-top: 4rem;
    margin-bottom: 6rem;
  }
  .secretBtn {
      width: 10rem;
      height: 10rem;
      position: absolute;
      top: 0;
      left: -30px;
  }  


@media only screen and (max-width: 480px) {
    .card {
      margin: 2rem auto 0;
      width: 288.5px;
    height: 500px;
      perspective: 1000px;
    }
  }
  @media only screen and (max-width: 480px) {
    .card__inner {
      margin: 0 auto 0;
      width: 288.5px;
    height: 500px;
      perspective: 1000px;
    }
  
    /* .wheel,
    .hermit {
      width: 200px;
      height: 300px;
    } */
  }
  
  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
  @keyframes fadeOut {
      from {opacity: 1;}
      to {opacity: 0;}
  }