* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background {
  background: url(../img/background1.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
body {
    position: relative;
}

.questionContainer {
    position: relative;
    background-color: rgba(224, 102, 102, 0.856);
    width: 25vw;
    height: 25vh;
    
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}