body {
    width:1000px;
    margin: 0 auto;

}

/* pseudo element */
span::selection {
    color: white;
    background-color: gold;
    text-transform: uppercase;
    text-shadow: black 1px 0 10px;
    
}